## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5

In [2]:
# View the column names in the data

print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [10]:
# Use the describe function to gather some basic statistics

cols_stats = df[['unit_price', 'unit_cost', 'unit_weight', 'qty']].describe()

print(cols_stats)

         unit_price     unit_cost   unit_weight           qty
count  54639.000000  54639.000000  54639.000000  5.463900e+04
mean     136.267207     99.446073      5.004116  5.702646e+02
std      183.873135    133.164267      5.326599  1.879552e+04
min        0.010000      0.010000      0.000000  0.000000e+00
25%       20.800000     14.840000      1.450000  3.200000e+01
50%       68.310000     49.890000      3.240000  6.800000e+01
75%      173.160000    125.570000      6.890000  1.700000e+02
max     1396.230000    846.270000     46.430000  3.958244e+06

In [3]:
# Use this space to do any additional research
# and familiarize yourself with the data.

df.dtypes

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

df.count()

first          54639
last           54639
job            54639
phone          54639
email          54639
client_id      54639
order_id       54639
order_date     54639
order_week     54639
order_year     54639
item_id        54639
category       54639
subcategory    54639
unit_price     54639
unit_cost      54639
unit_weight    54639
qty            54639
line_number    54639
dtype: int64

In [5]:
# What three item categories had the most entries?

category_col = pd.Series(df['category'])

categories_count = category_col.value_counts()

categories_count

category
consumables    23538
furniture      11915
software        8400
decor           7954
electronics     2832
Name: count, dtype: int64

In [6]:
# For the category with the most entries,
# which subcategory had the most entries?

categories_df = df[['category', 'subcategory']].copy()

categories_df.groupby(['category', 'subcategory']).value_counts()

category     subcategory
consumables  bathroom supplies     6424
             kitchen supplies      5746
             misc                  2891
             paper products        5874
             pens                  2603
decor        misc                  1395
             plants                3466
             wall art              3093
electronics  audio visual           732
             cabling                655
             computers              467
             telecom                978
furniture    desks                  510
             seating               2664
             stands                4201
             tables                4540
software     accounting            3756
             logistics             1122
             project management    3522
Name: count, dtype: int64

In [7]:
# Which five clients had the most entries in the data?

top_five_clients = df.value_counts(['client_id', 'first', 'last']).head(5)

top_five_df = pd.DataFrame(top_five_clients)

print(top_five_df)

                             count
client_id first     last
33615     Jessica   Reyes      220
66037     Angela    Everett    211
46820     Bryan     Myers      209
38378     Alexandra Young      207
24741     Kendra    Garrett    207

In [8]:
# Store the client ids of those top 5 clients in a list.

top_five_idlist = list(top_five_df['client_id'])

top_five_idlist

KeyError: 'client_id'

In [9]:
# How many total units (the qty column) did the
# client with the most entries order?

top_id = 33615

filter_top_id = df.loc[(df['client_id'] == top_id)]

top_id_sum = filter_top_id['qty'].sum()

top_id_sum

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [10]:
# Create a column that calculates the 
# subtotal for each line using the unit_price
# and the qty

df['Subtotal'] = df['unit_price'] * df['qty']

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8,2743.29
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0,165.76
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5,3103.31

In [11]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound
# for orders over 50 pounds and $10 per
# pound for items 50 pounds or under.

df['Shipping Weight'] = df['unit_weight'] * df['qty']

def shipping_price(weight):
    if weight > 50:
        return weight * 7
    else:
        return weight * 10

df['Shipping Price'] = df['Shipping Weight'].apply(shipping_price)

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Weight,Shipping Price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,decor,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,consumables,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,software,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,consumables,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,consumables,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,software,logistics,83.13,51.60,2.25,33,8,2743.29,74.25,519.75
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,consumables,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,consumables,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,furniture,stands,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,software,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19

In [12]:
# Create a column for the total price
# using the subtotal and the shipping price
# along with a sales tax of 9.25%

sales_tax = .0925


df['Total Price'] = ((df['Subtotal'] + df['Shipping Price']) * sales_tax) + df['Subtotal'] + df['Shipping Price']

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Weight,Shipping Price,Total Price
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,wall art,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.076250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,pens,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.258625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,project management,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.117600
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,pens,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.571400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,misc,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.403500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,logistics,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.871200
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,kitchen supplies,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.240275
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,bathroom supplies,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.896250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,stands,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,project management,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.431250

In [13]:
# Create a column for the cost
# of each line using unit cost, qty, and
# shipping price (assume the shipping cost
# is exactly what is charged to the client).

df['Cost'] = (df['unit_cost'] * df['qty']) + df['Shipping Price']

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_price,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Weight,Shipping Price,Total Price,Cost
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,1096.80,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.076250,85597.05
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,24.95,15.09,1.49,21,0,523.95,31.29,312.90,914.258625,629.79
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,13.52,7.86,1.68,39,6,527.28,65.52,458.64,1077.117600,765.18
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,36.42,24.85,1.23,29,3,1056.18,35.67,356.70,1543.571400,1077.35
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,195.10,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.403500,8663.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,83.13,51.60,2.25,33,8,2743.29,74.25,519.75,3564.871200,2222.55
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,206.59,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.240275,12095.92
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,65.66,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.896250,41054.25
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.48,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.713600,14280.00
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,3.01,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.431250,16599.10

In [14]:
# Create a column for the profit of
# each line using line cost and line price

df['Total Profit'] = df['Total Price'] - df['Cost']

df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,Subtotal,Shipping Weight,Shipping Price,Total Price,Cost,Total Profit
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,787.50,5512.50,131839.076250,85597.05,46242.026250
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,31.29,312.90,914.258625,629.79,284.468625
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,65.52,458.64,1077.117600,765.18,311.937600
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,35.67,356.70,1543.571400,1077.35,466.221400
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,928.60,6500.20,11364.403500,8663.60,2700.803500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,...,51.60,2.25,33,8,2743.29,74.25,519.75,3564.871200,2222.55,1342.321200
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,...,175.46,11.70,47,0,9709.73,549.90,3849.30,14813.240275,12095.92,2717.320275
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,...,57.31,4.16,475,6,31188.50,1976.00,13832.00,49184.896250,41054.25,8130.646250
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,...,1.22,18.04,112,0,165.76,2020.48,14143.36,15632.713600,14280.00,1352.713600
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,...,1.61,2.07,1031,5,3103.31,2134.17,14939.19,19711.431250,16599.10,3112.331250

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [15]:
# Check your work using the totals above

id_one = 2742071

receipts_check_one = df.loc[df['order_id'] == id_one, 'Total Price'].sum()

id_two = 2173913

receipts_check_two = df.loc[df['order_id'] == id_two, 'Total Price'].sum()

id_three = 6128929

receipts_check_three = df.loc[df['order_id'] == id_three, 'Total Price'].sum()

print(f"The first ID total is: {receipts_check_one}; the second ID total is: {receipts_check_two}; the third ID total is: {receipts_check_three}")

The first ID total is: 152811.897075; the second ID total is: 162388.71929999997; the third ID total is: 923441.24045

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [16]:
# How much did each of the top 5 clients by quantity
# spend? Check your work from Part 1 for client ids.

top_id_one = 33615

top_id_one_spend = df.loc[df['client_id'] == top_id_one, 'Total Price'].sum()

top_id_two = 66037

top_id_two_spend = df.loc[df['client_id'] == top_id_two, 'Total Price'].sum()

top_id_three = 46820

top_id_three_spend = df.loc[df['client_id'] == top_id_three, 'Total Price'].sum()

top_id_four = 38378

top_id_four_spend = df.loc[df['client_id'] == top_id_four, 'Total Price'].sum()

top_id_five = 24741

top_id_five_spend = df.loc[df['client_id'] == top_id_five, 'Total Price'].sum()

print(f"The ID with the highest quantity spent the following: ${top_id_one_spend}")
print(f"The ID with the 2nd highest quantity spent the following: ${top_id_two_spend}")
print(f"The ID with the 3rd highest quantity spent the following: ${top_id_three_spend}")
print(f"The ID with the 4th highest quantity spent the following: ${top_id_four_spend}")
print(f"The ID with the 5th highest quantity spent the following: ${top_id_five_spend}")

The ID with the highest quantity spent the following: $8377308.572500001
The ID with the 2nd highest quantity spent the following: $10259514.801275
The ID with the 3rd highest quantity spent the following: $9743794.320474999
The ID with the 4th highest quantity spent the following: $12906550.880874999
The ID with the 5th highest quantity spent the following: $82268891.97985002

In [17]:
# Create a summary DataFrame showing the totals for the
# for the top 5 clients with the following information:
# total units purchased, total shipping price,
# total revenue, and total profit. Sort by total profit.

filtered_totals_df = df.loc[df['client_id'].isin([top_id_one, top_id_two, top_id_three, top_id_four, top_id_five])]

summary_df = filtered_totals_df.groupby('client_id').agg({'qty': 'sum', 'Shipping Price': 'sum', 'Total Price': 'sum', 'Total Profit': 'sum'})

summary_df.sort_values(by='Total Profit', ascending = False)

              qty  Shipping Price   Total Price  Total Profit
client_id
24741      239862      5126448.37  8.226889e+07  3.657999e+07
38378       73667      3429455.40  1.290655e+07  3.271830e+06
66037       43018      1395151.85  1.025951e+07  3.255032e+06
46820       75768      1601448.84  9.743794e+06  2.736603e+06
33615       64313      1828984.89  8.377309e+06  2.201995e+06

In [30]:
# Format the data and rename the columns
# to names suitable for presentation.
# Currency should be in millions of dollars.

summary_df = summary_df.rename(columns={'qty': 'Quantity'})

summary_df['Formatted Quantity'] = summary_df['Quantity'].apply(lambda x: '{:,}'.format(x))

summary_df['Formatted Shipping Price ($M)'] = (summary_df['Shipping Price'] / 1_000_000).map('${:,.2f}'.format)

summary_df['Formatted Total Price ($M)'] = (summary_df['Total Price'] / 1_000_000).map('${:,.2f}'.format)

summary_df['Formatted Total Profit ($M)'] = (summary_df['Total Profit'] / 1_000_000).map('${:,.2f}'.format)

summary_df

,Quantity,Shipping Price,Total Price,Total Profit,Formatted Quantity,Formatted Shipping Price ($M),Formatted Total Price ($M),Formatted Total Profit ($M)
client_id,,,,,,,,
24741,239862,5126448.37,8.226889e+07,3.657999e+07,"239,862",$5.13,$82.27,$36.58
33615,64313,1828984.89,8.377309e+06,2.201995e+06,"64,313",$1.83,$8.38,$2.20
38378,73667,3429455.40,1.290655e+07,3.271830e+06,"73,667",$3.43,$12.91,$3.27
46820,75768,1601448.84,9.743794e+06,2.736603e+06,"75,768",$1.60,$9.74,$2.74
66037,43018,1395151.85,1.025951e+07,3.255032e+06,"43,018",$1.40,$10.26,$3.26

In [31]:
# Sort the updated data by "Total Profit" form highest to lowest

summary_df.sort_values(by='Formatted Total Profit ($M)', ascending = False)

,Quantity,Shipping Price,Total Price,Total Profit,Formatted Quantity,Formatted Shipping Price ($M),Formatted Total Price ($M),Formatted Total Profit ($M)
client_id,,,,,,,,
24741,239862,5126448.37,8.226889e+07,3.657999e+07,"239,862",$5.13,$82.27,$36.58
38378,73667,3429455.40,1.290655e+07,3.271830e+06,"73,667",$3.43,$12.91,$3.27
66037,43018,1395151.85,1.025951e+07,3.255032e+06,"43,018",$1.40,$10.26,$3.26
46820,75768,1601448.84,9.743794e+06,2.736603e+06,"75,768",$1.60,$9.74,$2.74
33615,64313,1828984.89,8.377309e+06,2.201995e+06,"64,313",$1.83,$8.38,$2.20